body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8B008B; /* Colore rosso porpora */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #6A5ACD; /* Colore di sfondo per il menu */
}

.menu li {
    padding: 10px 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #6A5ACD; /* Colore di sfondo per il submenu */
    z-index: 1;
}

.submenu li {
    display: block;
    padding: 10px;
}

.submenu a {
    color: white;
}

.submenu a:hover {
    text-decoration: underline;
}

.menu li:hover .submenu {
    display: block;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

#catalog {
    margin-bottom: 40px;
}

.letter-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.letter-box h3 {
    margin-top: 0;
}

.letter-box p {
    margin-bottom: 10px;
}

.letter-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.download-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #6A5ACD; /* Colore del bottone di download */
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.download-button:hover {
    background-color: #4B0082; /* Colore di hover del bottone di download */
}
