/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #b45353; /* Colore??*/
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    position: relative;
    margin-right: 20px;
}

header nav ul ul {
    display: none;
    position: absolute;
    background-color: #6A5ACD; /* Colore di sfondo per il submenu */
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

header nav ul li:hover > ul {
    display: block;
}

header nav ul ul li {
    margin: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    background-color: #6A5ACD;
}

main {
    padding: 20px 0;
    flex: 1;
}

#carousel {
    margin-bottom: 40px;
}

.carousel-slide {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo scuro per il testo */
    padding: 20px;
    text-align: center;
    color: white;
}

.carousel-caption h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.carousel-caption .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8B008B; /* Colore rosso porpora */
    color: white;
    text-decoration: none;
}

#project-description {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 0;
}

/* Stile per la tabella del catalogo */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/* Stile per le azioni nella pagina di dettaglio della lettera */
aside {
    width: 30%;
    float: right;
    margin-top: 20px;
}

aside h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #8B008B; /* Colore rosso porpora */
    color: white;
    text-decoration: none;
}

aside ul li a:hover {
    background-color: #6A5ACD; /* Cambia colore al passaggio del mouse */
}
